body{
  background-color: rgb(14, 14, 14);
}

.menu-area li a{
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
}
.menu-area li{
  list-style: none;
  display: inline-block;
}

.custom-padding{
  padding-top: 25px;
}

nav{
  position: relative;
  padding: 10px 20px 10px 20px;
  text-align: right;
  z-index: 1;
  background: rgb(14, 14, 14);
  margin: 25px;
  width:calc(100% - 60px);
}

.logo{
  float: left;
}