body{
  background-color: rgb(14, 14, 14);
}
nav{
  position: relative;
  padding: 10px 20px 10px 20px;
  text-align: right;
  z-index: 1;
  background: rgb(14, 14, 14);
  margin: 70px;
}
.logo{
  float: left;

}